<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MUSIC</title>
    <link rel="stylesheet" href="./messages.scss">
  </head>
  <body>
      <header class="header">
        <div class="titles">
          <h1 class="titles__title">My precious instrument</h1>
        </div>
      </header>
      <div class="middle">
        <ul class="left">
          <ul class="left__list">〜Instrument list〜</ul>
          <li class="left__piano">
            <%= link_to '・ピアノ', '#' %>
          </li>
          <li class="left__guitar">
            <%= link_to '・ギター', '#' %>
          </li>
          <li class="left__bass">
            <%= link_to '・ベース', '#' %>
          </li>
          <li class="left__violin">
            <%= link_to '・バイオリン', '#' %>   
          </li>      
        </ul>
        <ul class="center">
          <ul class="posts"></ul>
            <ul class="posts__title">New Post</ul>
              <p class="posts__1">マーチンギター</p>            
        </ul>
        <ul class="right">
          <p class="right__log-in">
            <%= link_to 'ログイン', '#' %>
          </p>
          <p class="right__log-out">
            <%= link_to 'ログアウト', '#' %>
          </p>
          <p class="right__post">
            <%= link_to '投稿', new_tweet_path %>
          </p>
        </ul>
      </div>
      <footer class="footer">
        <div class="footer__twitter">   
          サイト開発者のツイッターはこちら→  
          <%= link_to("https://twitter.com/xJZzcNB6FjzeQ9m") do %>
           <i class="fab fa-twitter"></i>            
           <% end %>
        </div>  
      </footer>
  </body>
</html>

 