<ul class="pianoleft">
  <ul class="left__list">〜Instruments list〜</ul>
  <li class="left__piano">
    <%= link_to "・Piano", piano_tweets_path, class: "underlinenone" %>
  </li>
  <li class="left__guitar">
    <%= link_to '・Guitar', guitar_tweets_path, class: "underlinenone" %>
  </li>
  <li class="left__bass">
    <%= link_to '・Bass', bass_tweets_path, class: "underlinenone" %>
  </li>
  <li class="left__violin">
    <%= link_to '・Violin', violin_tweets_path, class: "underlinenone" %>
  </li>   
  <li class="left__others">
    <%= link_to '・Others', others_tweets_path, class: "underlinenone" %>   
  </li>                   
</ul>