<ul class="pianoleft">
  <ul class="left__list">〜Instruments list〜</ul>
  <li class="left__piano">
    <%= link_to "・ピアノ", piano_tweets_path, class: "underlinenone" %>
  </li>
  <li class="left__guitar">
    <%= link_to '・ギター', guitar_tweets_path, class: "underlinenone" %>
  </li>
  <li class="left__bass">
    <%= link_to '・ベース', bass_tweets_path, class: "underlinenone" %>
  </li>
  <li class="left__violin">
    <%= link_to '・バイオリン', violin_tweets_path, class: "underlinenone" %>
  </li>   
  <li class="left__others">
    <%= link_to '・その他', others_tweets_path, class: "underlinenone" %>   
  </li>                   
</ul>