<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MUSIC</title>
    <link rel="stylesheet" href="./tweets.scss">
  </head>
  <body>

      <%= render partial: "header" %>

      <div class="middle">
        <%= render partial: "mainleft" %>
        <ul class="center">
          <ul class="posts"></ul>
            <ul class="posts__title">New Post</ul>
              <div class="contents">              
                  <% @tweets.each do |tweet| %>
                <div class="contentss">
                  <span class="contents__name">
                  <%= tweet.name %>
                  <%# <%= tweet.instrument_ids %>
                    <div class="post">
                      <div class="post__image">
                      <%= video_tag tweet.video_url.to_s,loop: true, controls: true, width: 550, id: "mv" %>
                      </div>
                      <%# <div class="post__text"><%= simple_format(tweet.text) %>
                    </div>                                                     
                  </span>
                </div>
                  <% end %>               
              </div>    
            <%= paginate(@tweets) %> 
        </ul>
        <ul class="right">
      　<% if user_signed_in? %>
          <div class="right__log-out">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "underlinenone" %>

          </div>
        <% else %>
          <div class="right__log-in">
            <%= link_to "ログイン", new_user_session_path, class: "underlinenone" %>
            <%= link_to "新規登録", new_user_registration_path, class: "underlinenone" %>
          </div>
        <% end %>
          <p class="right__post">
            <%= link_to '投稿', new_tweet_path, class: "underlinenone" %>
          </p>
        </ul>
      </div>
      <%= render partial: "footer" %>
  </body>
</html>

 