<header class="header">
  <div class="titles">
  <h1 class="titles__title"></h1>
  </div>
  
</header>
   <body>
      <%= render partial: "header" %>
      <div class="middle">
        <%= render partial: "selectleft" %>
        <ul class="otherscenter">
          <ul class="posts"></ul>
            <ul class="posts__title">Others Post</ul>
              <div class="contents">              
                  <% @tweets.each do |tweet| %>
                  <span class="contents__name">
                  <%= tweet.name %>
                  <%= tweet.instrument_ids %>
                    <div class="post">
                      <div class="post__image">
                      <%# <div class="post__image" style="background-image: url(<%= tweet.image %>
                      <%= video_tag tweet.video_url.to_s,loop: true, controls: true, width: 550, id: "mv" %>
                      </div>
                      <div class="post__text"><%= simple_format(tweet.text) %></div>  
                    </div>                                                     
                  </span>
                  <% end %>
                 
              </div>    
            <%= paginate(@tweets) %> 
        </ul>
        <%= render partial: "selectright" %>
      </div>
      <%= render partial: "footer" %>
  </body>
</html>

 